# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

* Create a Jupyter Notebook
* Insert code and markdown cells
* Share your notebook through GitHub

### Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Apache Hadoop      |
| MongoDB            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python
#### 7 + 5 = 12
#### 4 * 20 = 80
#### 8 / 4 = 2

<!-- This a simple arithmetic expression to mutiply then add integers -->

In [38]:
(3*4)+5

17

<!-- This will convert 200 minutes to hours by diving by 60 -->

In [44]:
200/60

3.3333333333333335

## Author:

Juan Antonio Fern√°ndez